#main{
    background-color: #efefef;
    test-align: center;
}

#screen{
    background-image: url("../assets/screen.svg");
    width: 70%;
    height: 618px;
    background-size: contain;
    float: left;
}

iframe{
    margin-left: 85px;
    margin-top: 116px;

}

#event_chat{
    margin-top: 35px;
    float: right;
    width: 25%;
    height: 550px;
}

#event_chat textarea{
    width: 100%;
    height: 85%;
    border: 3px solid #f1f1f1;
    box-shadow: inset 0 0 5px #000000;
    border-radius: 5px;
}

#event_chat input{
    border-radius: 5px;
    width: 100%;
    border: 3px solid #f1f1f1;
    box-shadow: inset 0 0 5px #000000;
}