body,
html{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Itim';
}

body::-webkit-scrollbar {
    display: none;
}

#Nav{

    background-color: rgba(10, 10, 28,0.3);
    padding: 30px;
    z-index: 3;
    position: sticky;

}

#start{

    font-family: 'KoHo';
    color: white;
    float: right;
    transition: font-weight 1s ease-in-out;
    transition: font-size 500ms ease-in-out;

}

a:hover{
    font-weight: 900;
    font-size: 20px;
    color: black;
}

#logo{
    width:100px;
}

svg {
      display: block;
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
}

.scrollElement {
      position: absolute;
      height: 6000px;
      width: 100px;
      top: 0;
      z-index: 0;
}

.Mul{
    mix-blend-mode: multiply;
}

.over{
    mix-blend-mode: overlay;
}

#scene3{
    visibility: hidden;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*background-color: rgba(10, 10, 20,0.7);*/
  background-image: url("../assets/bg.png");
  background-size: cover;
  z-index: 2;
  cursor: pointer;
}

.text{
  text-shadow: 2px 2px #37325b;
  z-index: 3;
  margin: auto;
  font-family: 'Roboto';
  font-size: 47px;
  position: relative;
  color: rgba(255, 255, 255, 0.9);
  width: 60%;
  margin-bottom: 700px;
  margin-top: 100px;
  text-align: center;
  backdrop-filter: blur(0px);
  padding: 10px;
  border-radius: 5px;
}

#first-text{
    font-size: 63px;
}

#first-text h1{
    font-size: 83px;
    font-family: 'KoHo';
}
