

#wrap{
    float:left;
    color: #ffffff !important;
    z-index: 13;
    position: relative;
    background-color: #332522;
    font-family: 'Itim';
}



a:link{
    text-decoration: none;
    color: #332522;
}