#main_page{
    font-family: 'Itim';
    padding: 50px;
    text-align: center;
}

#events{
    margin: auto;
    width: 85%;
    padding-bottom: 40px !important;
}

.EventsHeader{
  box-shadow:  0 0 0 #cccccc,
               0 0 0 #ffffff,
                10px 10px 10px #cccccc inset,
                -10px -10px 10px #ffffff inset;
  margin-bottom: 40px;
  border-radius: 5px;
  margin-top: 150px;
  clear: both;

}

.event{
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.06);
    padding: 20px;

    float: left;

    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 30%;
    height: 400px;
    font-size: 20px;
    margin-top: 15px;
}

.event p{
    font-size: 20px;
    color: #4d8532;
}

.SearchPreviousEvents {
    margin-top: 80px;
    width: 70%;
    margin-left: 30%;
}

form {
  grid-template-columns: 1fr auto;
  gap: 1em;
  margin-bottom: 1em;
}

button {
  background: #174477;
  color: #fff;
  font: inherit;
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 0.5em 1.5em;
}

button:active { background-color: #57be91; }

input {
  border: 1px solid #999;
  border-radius: 3px;
  font: inherit;
  padding: 0.5em;
  outline: none;
}
input:focus { outline: auto #17f; }

ul {
  list-style-type: none;
  padding-left: 0;
}

.items {
  display: grid;
  gap: 1em;
}

.item {
  background: #fff;
  padding: 1em;
  border-radius: 6px;
  box-shadow: 0px 1px 6px 2px #0002;
  transition: transform 100ms ease-in-out;
  display: grid;
  gap: 1em;
  grid-template:
    "d i"
    "m m";
}

.item:hover { transform: scale(1.02); }
.item div { grid-area: d; }
.item img { grid-area: i;width: 100%; }
.item ul  { grid-area: m; }

.meta {
  display: grid;
  grid-auto-flow: column;
  gap: 2em;
  font-size: 80%;
  color: #555;
}

.star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  /* the hidden clearer */
}
.star-cb-group * {
  font-size: 1rem;
}
.star-cb-group > input {
  display: none;
}
.star-cb-group > input + label {
  /* only enough room for the star */
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
}
.star-cb-group > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "☆";
  color: #888;
}
.star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
  content: "★";
  color: #e52;
  text-shadow: 0 0 1px #333;
}
.star-cb-group > .star-cb-clear + label {
  text-indent: -9999px;
  width: .5em;
  margin-left: -.5em;
}
.star-cb-group > .star-cb-clear + label:before {
  width: .5em;
}
.star-cb-group:hover > input + label:before {
  content: "☆";
  color: #888;
  text-shadow: none;
}
.star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
  content: "★";
  color: #e52;
  text-shadow: 0 0 1px #333;
}

.separator {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #750707;
  clear: both;
}

.separator::before,
.separator::after {
  color: #174477;
  content: '';
  flex: 1;
  border-bottom: 1px solid #174477;
}

.separator:not(:empty)::before {
  color: #174477;
  margin-right: .25em;
}

.separator:not(:empty)::after {
  color: #174477;
  margin-left: .25em;
}

.clear-sides{
    clear: both;

}

.search-pic{
    float: left;
    width: 35%;
    position: sticky;
    position: -webkit-sticky;
    top: 10rem;
    margin-right: 150px;
}