*{
  margin:0;
  padding:0;
}
.container-anime {
  background: #f0f0f0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 93vw;
  height: 70vh;
  margin-bottom: 150px;
}
.box {
  border-radius: 20px;
  width: 60px;
  height: 60px;
  font-size: 45px;
  background: #f0f0f0;
  box-shadow:  0 0 0 #cccccc,
               0 0 0 #ffffff,
                10px 10px 10px #cccccc inset,
                -10px -10px 10px #ffffff inset;
  animation: anime 6s cubic-bezier(0.16, 1, 0.3, 1) 50ms infinite alternate;
  /* animation-fill-mode: forwards; */
}

.T{
    padding-top: 30%;
    text-align: center;
    animation: tanime 6s cubic-bezier(0.16, 1, 0.3, 1) 50ms infinite alternate;
    border-radius: 20px;
    color:#174477;
}

@keyframes anime {
  0% {
    padding-top: 20%;
    font-size: 8px;
    width: 60px;
    height: 60px;
    background: #f0f0f0;
    box-shadow:  0 0 0 #cccccc,
                 0 0 0 #ffffff,
                  10px 10px 10px #cccccc inset,
                  -10px -10px 10px #ffffff inset;
  }
  25% {
    padding-top: 20%;
    font-size: 8px;
    width: 60px;
    height: 60px;
    background: #f8f8f8;
    box-shadow:  10px 10px 10px #cccccc,
                 10px 10px 10px #ffffff,
                 0 0 0 #cccccc inset,
                 0 0 0 #ffffff inset;
  }
  50% {
    padding-top: 10%;
    font-size: 15px;
    width: 60px;
    height: 240px;
    background: #f8f8f8;
    box-shadow:  10px 10px 10px #cccccc,
                 10px 10px 10px #ffffff,
                 0 0 0 #cccccc inset,
                 0 0 0 #ffffff inset;
  }
  100% {
    padding-top: 10%;
    font-size: 40px;
    width: 480px;
    height: 240px;
    background: #fafafa;
    box-shadow:  40px 40px 40px #cccccc,
                 0 0 0 #ffffff,
                 0 0 0 #cccccc inset,
                 2px 2px 2px #ffffff inset;
  }
}

@keyframes tanime {
  0% {
    border-radius: 20px;
    padding-top: 20%;
    font-size: 8px;
    width: 60px;
    height: 60px;
    background: #f0f0f0;
    box-shadow:  0 0 0 #cccccc,
                 0 0 0 #ffffff,
                  10px 10px 10px #cccccc inset,
                  -10px -10px 10px #ffffff inset;
  }
  25% {
    border-radius: 20px;
    padding-top: 20%;
    font-size: 8px;
    width: 60px;
    height: 60px;
    background: #f8f8f8;
    box-shadow:  10px 10px 10px #cccccc,
                 10px 10px 10px #ffffff,
                 0 0 0 #cccccc inset,
                 0 0 0 #ffffff inset;
  }
  50% {
    border-radius: 0px 0px 20px 20px;
    padding-top: 10%;
    font-size: 15px;
    width: 60px;
    height: 240px;
    background: #f8f8f8;
    box-shadow:  10px 10px 10px #cccccc,
                 10px 10px 10px #ffffff,
                 0 0 0 #cccccc inset,
                 0 0 0 #ffffff inset;
  }
  100% {
    border-radius: 0px 0px 20px 20px;
    padding-top: 10%;
    font-size: 40px;
    width: 480px;
    height: 240px;
    background: #fafafa;
    box-shadow:  40px 40px 40px #cccccc,
                 0 0 0 #ffffff,
                 0 0 0 #cccccc inset,
                 0px 0px 0px #ffffff inset;
  }
}